.home {
  background-color: whitesmoke;
}

.home {
  font-size: 20px;
  color: #000;
}

.blog-title {
  color: mediumseagreen;
}

.read-more {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
